<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Create Poll</title>
    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <link rel="stylesheet"
    type="text/css" href='/styles/poll_page.css'>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>
  <%- include('partials/_header') %>

  <main>

    <h1>Create a poll</h1>
      <p>To create a poll, please fill the form below!</p>


                  <!-- input here -->
    <div id="poll-form">
      <form id="poll-questions" action="/poll/create" method="POST">

        <div id="user-poll">
            <label for="'email-text">Enter your email:</label>
            <input type="text" name="email" id="email-text"></input>
            <label for="poll-title">Poll title:</label>
            <input type="text" name="title" id="title-text"></input>
        </div>
    </div>

                             <!-- option  -->
    <div id="options_table">
      <label for="poll-question-1" class="option">Option</label>
      <input class="form-control form-control-lg" id="poll-question-1" type="text"
      placeholder="eg. What midterm project should we choose?">

      <form method="POST" action="" id="delet_a_option">
        <i class="fa fa-trash" role="button" aria-hidden="true" id='delete_button'></i>
      </form>

        <!-- <table>
          <label for="poll-question-1" class="option">Option </label>
          <input type="text" name="question" id="poll-question-1"></input>
          <label for="poll-desc-1">Description (optional)</label>
          <input type="text" name="description" id="poll-desc-1"></input>

          <label for="poll-question-2" class="option">Option </label>
          <input type="text" name="question" id="poll-question-2"></input>
          <label for="poll-desc-2">Description (optional)</label>
          <input type="text" name="description" id="poll-desc-2"></input>

          <label for="poll-question-3" class="option" >Option </label>
          <input type="text" name="question" id="poll-question-3"></input>
          <label for="poll-desc-3">Description (optional)</label>

          <input type="text" name="description" id="poll-desc-3"></input>
        </table> -->
        </div>

        <!-- buttons here -->
        <div id="buttons">
          <!-- add new option button  -->

       <form method="POST" action="" id="add_new_options">
       <button class="button-51" role="button" id="add_button">add new options</button>
        </form>

        <!-- delete option button  -->

       <!-- <form method="POST" action="" id="delet_a_option">
          <button class="button-51" role="button" id='delete_button'>delete a option</button>
        </form> -->

        <!-- create poll button  -->

        <form method="POST" action="" id="create_a_poll"></form>
          <button class="button-51" role="button" id="create_button">create the poll!</button>
       </form>
        </div>

  </main>
</body>

</html>

