body {
  display:flex;
  background-color: #545149;
  color:red;
  justify-content: center;
  font-size: 24px;
  // font-family:'Source Sans Pro',
  // sans-serif;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  min-width: 600px


}


header {
  width: 100%;
  background-color: #266DB6;

}

header  a {
  font-size: 30px;
  color: white !important;

}

#email-text, #title-text {
  border-top-style: hidden;
    border-right-style: hidden;
      outline: none;
    border-left-style: hidden;
}
#email-text{

  margin-bottom: 2em;
}



#options-title{

  margin-top: 2em;
}

#options-container {
  width: 100%;
  padding-top: 10px;
}

.option-wrapper {
  margin-bottom: 1em;
  display: flex;
  flex-direction: row;
  gap: 36px;
}

.option-wrapper input {
  padding: 6px 10px;

}

.option-title-input {
flex: 1;
border-radius: 6px;
}

.option-description-input {
flex: 1;
border-radius: 6px;

}

h1 {
  display: flex;
  justify-content: center;
  padding-top: 1em;
  font-size: 24px;
  font-family: 'Bungee', cursive !important;
}


p{
  display: flex;
  justify-content: center;
  padding-top: 1em;
  font-size: larger;
}

#user-poll {
display: flex;
flex-direction: column;
justify-content: center;
}

div{
  display:flex;
  justify-content: center;
  flex-direction: column;
}
#options_table{
  display: flex;
  flex-direction: row;
}

/* CSS */
.button-51 {
  background-color: transparent;
  border: 1px solid #266DB6;
  box-sizing: border-box;
  color: #00132C;
  font-family: "Avenir Next LT W01 Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  padding: 16px 23px;
  position: relative;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-51:hover,
.button-51:active {
  outline: 0;
}

.button-51:hover {
  background-color: transparent;
  cursor: pointer;
}

.button-51:before {
  background-color: #D5EDF6;
  content: "";
  height: calc(100% + 3px);
  position: absolute;
  right: -7px;
  top: -9px;
  transition: background-color 300ms ease-in;
  width: 100%;
  z-index: -1;
}

.button-51:hover:before {
  background-color: #6DCFF6;
}

@media (min-width: 768px) {
  .button-51 {
    padding: 16px 32px;
  }
}

#buttons{
  display:flex;
  flex-direction: column;
  flex:1;
  align-items: center;

}

#create_button {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
