body {
  display:flex;
  background-color: #545149;
  color:red;
  justify-content: center;
  font-size: 24px;
  // font-family:'Source Sans Pro',
  // sans-serif;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  min-width: 600px


}


header {
  width: 100%;
  background-color: #266DB6;

}

header  a {
  font-size: 30px;
  color: white !important;

}

#email-text, #title-text {
  border-top-style: hidden;
    border-right-style: hidden;
      outline: none;
    border-left-style: hidden;
}
#email-text{

  margin-bottom: 2em;
}



#options-title{

  margin-top: 2em;
}

#options-container {
  padding-top: 10px;
}

.option-wrapper {
  margin-bottom: 1em;
  display: flex;
  flex-direction: row;
  gap: 36px;
}

.option-wrapper input {
  padding: 6px 10px;

}

.option-title-input {
flex: 1;
border-radius: 6px;
}

.option-description-input {
flex: 1;
border-radius: 6px;

}

h1 {
  display: flex;
  justify-content: center;
  padding-top: 1em;
  font-size: 24px;
  font-family: 'Bungee', cursive !important;
}


p{
  display: flex;
  justify-content: center;
  padding-top: 1em;
  font-size: larger;
}

#user-poll {
display: flex;
flex-direction: column;
justify-content: center;
}

#options_table{
  display: flex;
  flex-direction: row;
}


#create_button {

}

#add_button{

float: right;
}


