p {
  font-family: 'Bungee', cursive !important;
  font-size: 35px;
  margin-top: 10%;
  padding-top: 2em;
}

#op-name {
  word-wrap: break-word;
  background-color: #f5f5f5;
  border: 2px #fbfbfb solid;
  border-radius: 10px;
  font-family: 'Bungee', cursive !important;
  margin: 30px;
  font-size: 25px;
  width: auto;
  padding: 6px;
  padding-right: 70px;

}

ol {
  padding: 0;

}

#op-desc {
  font-size: 20px;
  color: salmon;
  font-family: 'Ubuntu', sans-serif !important;
  word-wrap: break-word;

}

h1 {
  font-size: 25px !important;
}


