body {
  display:flex;
  justify-content: center;
  height: 100%;
  flex-direction: column;
  align-items: center;
}
main {
  min-width: 600px;
  padding-top: 10%;

}


h1 {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  padding-top: 1em;
  font-size: 20px;
  font-family: 'Bungee', cursive !important;
}

#links {
  display: flex;
  text-align: center;
  justify-content: space-around;
  margin: 10%;
}


p {
  font-family: 'Ubuntu', sans-serif !important;
  font-size: 20px;
}



h2 {
  font-family: 'Ubuntu', sans-serif !important;
  font-size: 15px;
  display: flex;
  justify-content: center;
  padding-top: 1em;
}

#links-btn {
  font-family: 'Bungee';
  font-size: 18px;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  color: #333333;
  cursor: pointer;
  padding: 0.25em 0.5em;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  border: 3px solid;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;

}

#links-btn:hover {
  opacity: 0.8;
}

#links-btn:focus {
  outline: none;
}

#link-buttons {
  display: flex;
  justify-content: center;
}

a {
  color: #333333 !important;
}
